In [1]:
import sys 
import argparse 
import matplotlib 
import numpy as np 
import pandas as pd 
import dask.dataframe as dd

In [2]:
# Enter the path to the library (/Users/pascalgrosset/projects/VizAly-Vis_IO/genericio/python on OSX)
generic_io_path = input()
#generic_io_path = "/Users/pascalgrosset/projects/VizAly-Vis_IO/genericio/python"
#/home/pascal/projects/VizAly-Vis_IO/genericio/python

/home/pascal/projects/VizAly-Vis_IO/genericio/python

In [3]:
sys.path.append(generic_io_path) 
import genericio as gio

In [4]:
halo_file_name = input()
#halo_file_name = "/Users/pascalgrosset/data/Argonne/Halos/STEP499/m000-499.fofproperties"
#/Users/pascalgrosset/data/Argonne/Halos/STEP499/m000-499.fofproperties
#/datastore/Cosmology/Halos/b0168/STEP499/m000-499.fofproperties

/datastore/Cosmology/Halos/b0168/STEP499/m000-499.fofproperties

In [5]:
num_halo_scalars, halo_scalars = gio.get_scalars(halo_file_name)
print(halo_scalars)

['fof_halo_count', 'fof_halo_tag', 'fof_halo_mass', 'fof_halo_ke', 'fof_halo_center_x', 'fof_halo_center_y', 'fof_halo_center_z', 'fof_halo_mean_x', 'fof_halo_mean_y', 'fof_halo_mean_z', 'fof_halo_angmom_x', 'fof_halo_angmom_y', 'fof_halo_angmom_z', 'fof_halo_mean_vx', 'fof_halo_mean_vy', 'fof_halo_mean_vz', 'fof_halo_vel_disp']

In [6]:
num_halo_elems = gio.get_num_elements(halo_file_name)
print(num_halo_elems)

3912511

In [7]:
halo_selected_scalars = ['fof_halo_count', 'fof_halo_tag', 'fof_halo_mass', 'fof_halo_center_x', 'fof_halo_center_y', 'fof_halo_center_z', 'fof_halo_mean_x', 'fof_halo_mean_y', 'fof_halo_mean_z']
halo_df = gio.create_dataframe(halo_file_name, halo_selected_scalars)
halo_df

,fof_halo_count,fof_halo_tag,fof_halo_mass,fof_halo_center_x,fof_halo_center_y,fof_halo_center_z,fof_halo_mean_x,fof_halo_mean_y,fof_halo_mean_z
0,29,1064323159,3.330001e+10,0.189898,0.573306,31.631874,0.186938,0.580574,31.620319
1,51,1061155965,5.856209e+10,0.599965,0.388025,34.403084,0.593925,0.381102,34.414520
2,271,20973598,3.111829e+11,0.891174,1.669595,14.227043,0.882344,1.640615,14.238768
3,39,14689324,4.478277e+10,0.171782,1.449081,15.656809,0.172940,1.426711,15.672363
4,339,1047552154,3.892657e+11,0.782605,1.409725,43.252525,0.779634,1.413886,43.246967
...,...,...,...,...,...,...,...,...,...
3912506,12,1069525888,1.377931e+10,255.978912,245.965546,221.038620,255.988525,245.965927,221.085220
3912507,10,1024899,1.148276e+10,255.942001,246.630188,222.498825,255.954987,246.628937,222.494308
3912508,24,21998480,2.755863e+10,255.922928,247.165131,223.224274,255.954056,247.178101,223.254044
3912509,20,11520985,2.296552e+10,255.993134,251.215469,245.761200,255.992126,251.210220,245.778259
3912510,17,1062215538,1.952070e+10,255.059692,255.960693,215.125427,255.057526,255.944702,215.096085

In [8]:
filtered_halo_df = halo_df[(halo_df['fof_halo_count'] > 500000)]
filtered_halo_df

,fof_halo_count,fof_halo_tag,fof_halo_mass,fof_halo_center_x,fof_halo_center_y,fof_halo_center_z,fof_halo_mean_x,fof_halo_mean_y,fof_halo_mean_z
338108,527980,19534589,6.062669e+14,10.072449,169.857468,175.221252,10.696707,169.788223,174.977310
421143,562115,73272632,6.454633e+14,22.553007,223.292267,81.509460,22.677477,223.322098,81.418022
1008259,730783,202269393,8.391407e+14,60.992680,228.244537,180.284882,61.099178,228.175491,180.332367
1232761,625781,276156945,7.185694e+14,67.841042,98.806992,122.972450,67.690384,98.969276,123.159882
1555498,682449,363914997,7.836399e+14,97.820900,8.511652,173.913696,97.867340,8.419731,174.008575
1983061,604373,504192603,6.939871e+14,108.118744,227.785080,149.865326,107.981529,227.946732,149.897095
2830491,584458,719079546,6.711192e+14,178.886917,206.480560,47.177578,179.967987,204.531906,47.261467
2831815,798187,714849479,9.165392e+14,187.233307,206.409180,47.364296,186.792130,206.248459,47.502403
3316794,973143,762035800,1.117437e+15,197.445251,198.127838,163.343231,197.424118,198.465042,163.280045

In [9]:
particle_file_name = input()
#/Users/pascalgrosset/data/Argonne/STEP499/m000.full.mpicosmo.499
#particle_file_name = "/Users/pascalgrosset/data/Argonne/STEP499/m000.full.mpicosmo.499"
#/datastore/Cosmology/STEP499/m000.full.mpicosmo.499

/datastore/Cosmology/STEP499/m000.full.mpicosmo.499

In [10]:
num_particles = gio.get_num_elements(particle_file_name)
print(num_particles)

1073726359

In [11]:
num_particle_scalars, particle_scalars = gio.get_scalars(particle_file_name)
print(particle_scalars)

['x', 'y', 'z', 'vx', 'vy', 'vz', 'phi', 'id', 'mask']

In [12]:
extents = [ 197,198, 198,199, 163,164]
num_ranks, ranks = gio.get_ranks_in(particle_file_name, extents)
print(ranks)
print(num_ranks)

[218]
1

In [13]:
selected_rank_particle_df = gio.create_dataframe(particle_file_name, ['id','x','y','z'], ranks)

In [14]:
selected_rank_particle_df

                id           x           y           z
0        767305279  192.001633  196.579636  156.974167
1        738985593  192.006805  197.964691  164.381805
2        788295212  192.005417  198.845688  153.118149
3        777805368  192.009933  198.487808  157.240570
4        741085836  192.005661  198.077133  166.300308
...            ...         ...         ...         ...
7985773  943609550  223.998688  221.293701  172.131409
7985774  943607505  223.998566  221.280838  172.158386
7985775  792600132  192.000000  220.955872  153.757477
7985776  875268639  213.141769  192.000000  145.223587
7985777  919334552  221.487152  192.000000  163.273499

[7985778 rows x 4 columns]

In [15]:
halo_partilce_tags = input()
#/Users/pascalgrosset/data/Argonne/Halos/STEP499/m000-499.haloparticletags
#halo_partilce_tags = "/Users/pascalgrosset/data/Argonne/Halos/STEP499/m000-499.haloparticletags"
#/datastore/Cosmology/Halos/b0168/STEP499/m000-499.haloparticletags

/datastore/Cosmology/Halos/b0168/STEP499/m000-499.haloparticletags

In [16]:
num_hpt_scalars, hpt_scalars = gio.get_scalars(halo_partilce_tags)
print(hpt_scalars)

['id', 'fof_halo_tag']

In [17]:
halo_part_tags_df = gio.create_dataframe(halo_partilce_tags, hpt_scalars)

In [18]:
max_tag_df = halo_part_tags_df[(halo_part_tags_df['fof_halo_tag'] == 762035800)]

In [19]:
max_tag_df

                  id  fof_halo_tag
388773118  762035800     762035800
388773119  816634447     762035800
388773120  814548565     762035800
388773122  843899578     762035800
388773124  769385053     762035800
...              ...           ...
390278496  849153714     762035800
390278497  852299439     762035800
390278498  849163948     762035800
390278499  853350064     762035800
390278500  851254960     762035800

[973143 rows x 2 columns]

In [20]:
joined = dd.merge(selected_rank_particle_df, max_tag_df, on='id')

In [21]:
joined

               id           x           y           z  fof_halo_tag
0       762035800  195.837799  196.990829  162.733292     762035800
1       816634447  195.881760  196.956314  162.897858     762035800
2       814548565  195.854004  196.948059  162.906723     762035800
3       843899578  195.713562  196.816147  163.134293     762035800
4       769385053  195.825989  196.925369  163.227219     762035800
...           ...         ...         ...         ...           ...
973234  849153714  199.099274  202.110153  162.519318     762035800
973235  852299439  199.146301  202.104218  162.523636     762035800
973236  849163948  199.203186  202.202286  162.601425     762035800
973237  853350064  199.147629  202.115753  162.572754     762035800
973238  851254960  199.167526  202.105103  162.611801     762035800

[973239 rows x 5 columns]

In [22]:
joined.to_csv("halo_762035800.csv", sep=',', index=False)

In [23]:
import plotly.express as px
fig = px.scatter_3d(joined, x='x', y='y', z='z')
fig.show()

ModuleNotFoundError: No module named 'plotly'